@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tituloCard{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 300px;
	width: 300px;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
	display: flex;
	flex-direction: column;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: inherit;
	height: inherit;
}
.card .contenidoCard{
	padding: 15px;
	text-align: center;
}
.card .contenidoCard h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenidoCard p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.comprar{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.comprar:active{
	background: #2fb4cc;
	color: #fff;
}
.linea {
	border-top: grey 2px solid;
}


.modal-container {
	width: 80%;
	margin: 0 10%;
	max-height: 88vh;
	color: #fff;
	background-color: #121212;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	overflow: auto;
	z-index: 9;
	top: 12vh;
	scrollbar-color: none;
  }
  
  .modal-container::-webkit-scrollbar {
	display: none;
  }
  .modal-header {
	display: flex;
	justify-content: space-around;
	background-color: #0a0909;
	color: #fff;
	width: 100%;
  }
  
  .modal-header-title {
	justify-self: start;
  }
  
  .modal-header-button {
	cursor: pointer;
  }
  
  .modal-container > .modal-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 10px;
  }
  
  .modal-container > div > img {
	height: 120px;
	width: 120px;
  }
  
  .total-content {
	font-size: 25px;
	padding: 20px;
	text-align: center;
	padding-top: 20px;
  }
  

.delete-product {
	cursor: pointer;
}

.cantidad-carrito {
	background-color: red;
	color: white;
	border-radius: 50%;
	font-size: 12px;
	padding: 4px;
	top: 37px;
	right: 14px;
	position: absolute;
	display: none;
}

.restar {
	cursor: pointer;
}
.sumar {
	cursor: pointer;
}